VITE_APP_URL=https://mvp-cowork.vercel.app
VITE_SUPABASE_URL=https://lcryrsdyrzotjqdxcwtp.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_TURN_URL=
VITE_TURN_URL_TCP=
VITE_TURN_URL_TLS=
VITE_TURN_URL_TLS_TCP=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=
